diskcache
scipy
numpy
pillow
gguf
tqdm

# for Windows (Vulkan)
llama-cpp-python @ https://github.com/hcwhan/ComfyUI-llama-cpp-vulkan/releases/download/v0.3.41-vulkan-20260709/llama_cpp_python-0.3.41+vulkan-cp310-cp310-win_amd64.whl; python_version == "3.10" and platform_system == "Windows"
llama-cpp-python @ https://github.com/hcwhan/ComfyUI-llama-cpp-vulkan/releases/download/v0.3.41-vulkan-20260709/llama_cpp_python-0.3.41+vulkan-cp311-cp311-win_amd64.whl; python_version == "3.11" and platform_system == "Windows"
llama-cpp-python @ https://github.com/hcwhan/ComfyUI-llama-cpp-vulkan/releases/download/v0.3.41-vulkan-20260709/llama_cpp_python-0.3.41+vulkan-cp312-cp312-win_amd64.whl; python_version == "3.12" and platform_system == "Windows"
llama-cpp-python @ https://github.com/hcwhan/ComfyUI-llama-cpp-vulkan/releases/download/v0.3.41-vulkan-20260709/llama_cpp_python-0.3.41+vulkan-cp313-cp313-win_amd64.whl; python_version == "3.13" and platform_system == "Windows"

# for Linux (Vulkan)
llama-cpp-python @ https://github.com/hcwhan/ComfyUI-llama-cpp-vulkan/releases/download/v0.3.41-vulkan-20260709/llama_cpp_python-0.3.41+vulkan-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl; python_version == "3.10" and platform_system == "Linux"
llama-cpp-python @ https://github.com/hcwhan/ComfyUI-llama-cpp-vulkan/releases/download/v0.3.41-vulkan-20260709/llama_cpp_python-0.3.41+vulkan-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl; python_version == "3.11" and platform_system == "Linux"
llama-cpp-python @ https://github.com/hcwhan/ComfyUI-llama-cpp-vulkan/releases/download/v0.3.41-vulkan-20260709/llama_cpp_python-0.3.41+vulkan-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl; python_version == "3.12" and platform_system == "Linux"
llama-cpp-python @ https://github.com/hcwhan/ComfyUI-llama-cpp-vulkan/releases/download/v0.3.41-vulkan-20260709/llama_cpp_python-0.3.41+vulkan-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl; python_version == "3.13" and platform_system == "Linux"
